.box{
    height: 300px;
    width: 200px;
    overflow: scroll;
    border: 5px solid lightgreen;

}
.images .logo{
    height: 175px;
    width: 150px;

}
.box2{
    height: 300px;
    width: 200px;
    border: 3px solid  tomato;
 }